
@font-face {
  font-family:"babas" ; src: url("../BebasNeue.otf")
}
.net{
  font-size:3em;
  font-family: "babas";
  padding: 0 0;
  margin: 0 0;  
  color: white;

}

/*           CLASES           */
.header{
  height:4em;
  padding: .5em 2em 0 2em;
  background-color:#B9090B;
}

.pure-menu-link{
  color: white;
  padding-bottom:0;
}
.pure-menu-link:hover{
  background-color:#B9090B;
  color: #ddd;
  text-decoration:underline;
}


.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}